@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus-visible {
  outline: 2px solid rgb(24 24 27);
  outline-offset: 2px;
}

*:focus {
  outline: none;
}

.chart-no-focus .recharts-wrapper:focus,
.chart-no-focus .recharts-wrapper:focus-visible,
.chart-no-focus .recharts-surface:focus,
.chart-no-focus .recharts-surface:focus-visible,
.chart-no-focus svg:focus,
.chart-no-focus svg:focus-visible {
  outline: none !important;
}

.chart-no-focus *:focus-visible {
  outline: none !important;
}